
/* Your CSS Code here. */
/* Table Styling */
table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

/* Media Styling */
h2 {
    text-align: center;
    margin: 30px 0;
}

ol {
    width: 60%;
    margin: 0 auto;
    padding-left: 0;
}

li {
    margin: 20px 0;
    list-style-position: inside;
}

img {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 300px;
}

video, audio {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}